* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #434343;
}

main.cards {
  display: flex;
  padding: 32px;
}
main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-width: 400px;
  margin-left: 32px;
}

main.cards section.card:first-child {
  margin-left: 0;
}
main.cards section.card .icon {
  width: 64px;
  height: 64px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: white;
}

main.cards section.card.contato button {
  background: linear-gradient(to right, #8ec8e9, #ad88e9);
}

main.cards section.card.compre button {
  background: linear-gradient(to right, #8ec8e9, #ad88e9);
}

main.cards section.card.sobre button {
  background: linear-gradient(to right, #8ac6e9, #ad88e9);
}

main.cards section.card.contato {
  box-shadow: 20px 20px 50px -30px #8d5adf;
}
main.cards section.card.compre {
  box-shadow: 20px 20px 50px -30px #8d5adf;
}
main.cards section.card.sobre {
  box-shadow: 20px 20px 50px -30px #8d5adf;
}

@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
  }

  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  maim.cards section.card:last-child {
    margin-bottom: 0;
  }

  main.cards section.card button {
    font-size: 70%;
  }
}
